
html{
    
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    margin: 0px;
}
/*navbar styles*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
}
 
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    
}

.left-side{
    display: flex;

}
.nav-wrapper>.left-side >div{
    display: flex;
    margin-right: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family:  "poppins",sans-serif
    
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-wrapper>.right-side >div{
    color: white;
    display: flex;
    margin-right: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family:  "poppins",sans-serif;
}

.nav-link-wrapper a{
    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}

.nav-link-wrapper a:hover{
    color: white;
}


.active-nav-link a{
    color: white !important;

}
/*theme toggler*/

/*landing page animation*/
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-image: linear-gradient(to right,black , black);
    font-family: 'poppins' ,sans-serif;
    padding-top: 20px;
    padding-bottom:250px;
    display: flex;
}
.wrapper .static-txt{
  color: dodgerblue;
  font-size: 65px;
  font-weight: 1000;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 63px;
  font-weight: 900;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background:black;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/*content styles*/

.content-wrapper-container{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    /*background-color:  #FFE338;*/
    position: absolute;
}

.text-content-container{
    padding-top: 50px;
    padding-bottom: 250px;
    text-align: center;
    font-family: 'poppins',sans-serif;
    color: dodgerblue;
    font-size: 60px;
}


.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: px;
}

/*img{
    padding-right: px;
    width:100%;
}*/

.profile-content-wrapper{
    padding: 30px;
}

.content-wrapper{
    background-image: linear-gradient(to right, aqua ,);
}

.profile-content-wrapper h1{
    display: flex;
    color: dodgerblue;
    font-family: 'poppins',sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.profile-content-wrapper p{
    font-family:'poppins',sans-serif;  
    font-size: 20px;
    color: aliceblue;
    text-align: end;
}

.profile-content-wrapper a{
    text-decoration: none;
    font-size:30px;
}

/*scroll down*/
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position:absolute;
    bottom: 40px;
    border-radius: 50px;
    cursor: pointer;

}
    
.scroll-down::before,
.scroll-down::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;


}

.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}


/*about title*/
.about-text{
    text-align: center;
    font-family: 'poppins', sans-serif;
    color: dodgerblue;
    font-weight: 700;
    font-size: 40px;
}

/*images grid*/
.profile-image-wrapper{
    --gap: 16px;
    --num-cols:2;
    --row-height: 300px;
    
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr );
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.profile-image-wrapper > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*more landing page animations SKILLS*/
.projects-skills{
    text-align: center;
    font-family: 'poppins',sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: dodgerblue;

}
.skills-bar-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    display: grid;
    height: 100%;
    place-items: center;
    background: black;
}
.skills-bar{
    width: 600px; 
    background: black;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
    color: dodgerblue;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText{
    100%{
      opacity: 1;
    }
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px 1px rgba(255,255,255,0.8);
    animation: animate 5s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: dodgerblue;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.progress-line.html span{
    width: 75%;
}
.progress-line.css span{
    width: 80%;
}

.progress-line.javascript span{
    width: 40%;
}

.progress-line.git span{
    width: 70%;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2{
    100%{
        opacity: 1;
    }
}


.progress-line.html span::after{
    content: 75%;
}
.progress-line.css span::after{
    content: 80%;
}

.progress-line.javascript span::after{
    content: 40%;
}

.progress-line.git span::after{
    content: 70%;
}

.footer-design{
    height: 110px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    background-image: linear-gradient(to right rgb(17, 17, 17) ,black);
    object-fit: cover;
    text-align: center;
    align-items: center;
    justify-content: center;


}