
html{
    
    height: 100%;
}

body{
    background-size: cover;
    background-position: center;
    margin: 0px;
}
/*navbar styles*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: aliceblue;
}
 
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    
}

.left-side{
    display: flex;

}
.nav-wrapper>.left-side >div{
    display: flex;
    margin-right: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family:  "poppins",sans-serif
    
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-wrapper>.right-side >div{
    display: flex;
    margin-right: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family:  "poppins",sans-serif;
}

.nav-link-wrapper a{
    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}

.nav-link-wrapper a:hover{
    color: black;
}


.active-nav-link a{
    color: black !important;

}
/*theme toggler*/

/*content styles*/
.text-content-container{
    padding-top: 100px;
    padding-bottom: 250px;
    text-align: center;
    font-family: 'poppins',sans-serif;
    color: dodgerblue;
    font-size: 100px;
}
.showcase-area>.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}


.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    width:100%;
}

.profile-content-wrapper{
    padding: 30px;
}

.profile-content-wrapper h1{
    color: dodgerblue;
    font-family: 'poppins',sans-serif;
    font-size: 30px;
}
.profile-content-wrapper p{
    font-family:'poppins',sans-serif;  
font-size: 25px;
}

.profile-content-wrapper a{
    text-decoration: none;
    font-size:30px;
}

.text-content-container{
   /* height: 22px;*/
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.text-content-container a{
    text-decoration: none;
    color: dodgerblue;
    transition: color 0.5s;
}

.text-content-container a:hover{
    background: -webkit-linear-gradient(rgb(0, 255, 242), rgb(38, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
